<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <add key="XUnit" value="https://www.myget.org/F/xunit/" />    
    <add key="xunit-runner-prototype" value="https://www.myget.org/F/coreclr-xunit/api/v2" />
    <add key="CI Builds (dotnet-cli)" value="https://www.myget.org/F/dotnet-cli/" />
    <add key="ASP.NET Release" value="https://www.myget.org/F/aspnetrelease/" />
  </packageSources>
</configuration>
